@import '../../styles/variables';

// Main container for the skills section
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: $breakpoint-xxl;
  margin: 0 auto;
  width: 100%;

  // Competency section container
  .competency-section {
    display: flex;
    flex-direction: column;
    padding: $spacing-md; // Consistent padding around the section
    align-items: center;
    width: 100%;
    border-radius: $border-radius-lg;
    margin-bottom: $spacing-lg; // Add bottom margin between sections

    // Alternating background colors for odd sections
    &:nth-child(odd) {
      background-color: darken($background-color, 5%);

      .competency-details {
        @media (min-width: $breakpoint-lg) {
          flex-direction: row-reverse;
        }
      }
    }

    @media (min-width: $breakpoint-lg) {
      flex-direction: row; // Switch to row layout on larger screens
      justify-content: center; // Center content horizontally
      gap: $spacing-lg;
    }

    // Competency details section
    .competency-details {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        align-items: center; // Center both vertically and horizontally
        justify-content: space-between; // Spread content within the section
        text-align: left;
        gap: $spacing-lg;

      }

      // Image container
      .image-container {
        flex: 1;
        width: 100%;
        margin-bottom: $spacing-md;

        @media (min-width: $breakpoint-lg) {
          width: 40%; // Set a smaller width for the image on larger screens
          margin-right: $spacing-lg; // Add spacing between image and description
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: $border-radius-md; // Rounded corners for images
        }
      }

      // Description section
      .description {
        flex: 1;
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          width: 50%; // Control the width of the description on larger screens
          margin-left: $spacing-lg; // Space between the image and description
        }

        .header-icon-title {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          .icon {
            font-size: 2rem;
            color: $primary-color; // Customize icon color
          }

          h5 {
            font-size: $font-size-base-xl;
            color: $text-primary;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: $spacing-md;

          li {
            display: flex;
            text-align: left;
            align-items: center;
            gap: $spacing-sm;

            p {
              margin: 0;
              line-height: 1.2; // Slightly increased line-height for better readability
              font-size: $font-size-base-md; // Ensure text size is appropriate
            }

            &:before {
              content: "→";
              color: $primary-color;
              font-weight: $font-weight-bold;
              display: inline-block;
              margin-right: $spacing-xs;
            }
          }
        }
      }
    }
  }
}
